# ─── Node ───────────────────────────────────────────────
frontend/node_modules
backend/node_modules
npm-debug.log
yarn-error.log

# ─── Angular ────────────────────────────────────────────
frontend/dist
frontend/.angular/cache
frontend/out-tsc
frontend/bazel-out
frontend/coverage

# ─── Backend ────────────────────────────────────────────
backend/.env

# ─── IDEs y editores ────────────────────────────────────
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/

# ─── Visual Studio Code ─────────────────────────────────
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ─── Sistema operativo ──────────────────────────────────
.DS_Store
Thumbs.db
.zshrc

# ─── Logs temporales ────────────────────────────────────
*.log
/tmp
node_modules
